.root {
    li {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        padding: 8px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;

        a {
            display: inline-block;
        }
    }
}